# --- root folder --- #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
__init__.*
# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
.DS_Store
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
*.csv
*.csv.gz
*.parquet

# DB files
*.db

# Terraform files
**/.terraform*
*.tfstate*
*.zip

# vscode
.vscode/

# Ignore everything
# **/hmwk-02/
**/mage_data/
*.json
*.env
*.mp4


# mage
*/__pycache__
*/__init__.py
__pycache__
__init__.py

.file_versions
.ssh_tunnel
*.pyc

# super specific, as wildcards didn't work..need more troubleshootin
cohorts/2024/02-workflow-orchestration/hmwk-02/data_exporters/__init__.py
cohorts/2024/02-workflow-orchestration/hmwk-02/data_loaders/__init__.py
cohorts/2024/02-workflow-orchestration/hmwk-02/transformers/__init__.py

# exceptions for SQL, Python files and YAML files with these paths
!**/devcontainer.json
!**/pipelines/**/*.yaml
!**/data_exporters/*.py
!**/data_exporters/*.sql
!**/data_loaders/*.py
!**/data_loaders/*.sql
!**/transformers/*.py
!**/transformers/*.sql



# --- root folder --- #
