pandas==1.5.2
protobuf==4.22.1
pyarrow==10.0.1
#pandas-gbq==0.18.1 ---no need
psycopg2-binary==2.9.5
sqlalchemy==1.4.46
ipykernel==6.22.0 
polars==0.16.18 
dbt-core==1.4.5 
dbt-postgres==1.4.5
pyspark==3.3.2 
confluent-kafka==1.9.2
apache-airflow==2.5.0
apache-airflow-providers-amazon==7.3.0
boto3==1.26.106
dbt-redshift==1.4.0