pandas==1.5.2
#prefect==2.7.7 --- no need
#prefect-sqlalchemy==0.2.2 --- no need
#prefect-gcp[cloud_storage]==0.2.4
protobuf==4.22.1 #specify version
pyarrow==10.0.1
#pandas-gbq==0.18.1 ---no need
psycopg2-binary==2.9.5
sqlalchemy==1.4.46
ipykernel==6.22.0 #specify version
polars==0.16.18 #specify version
dbt-core==1.4.5 #specify version
#dbt-bigquery --- no need
dbt-postgres==1.4.5 #specify version
pyspark==3.3.2 #specify version
confluent-kafka==1.9.2
#added the following packages for AWS integration
apache-airflow==2.5.0
apache-airflow-providers-amazon==7.3.0
boto3==1.26.106
dbt-redshift==1.4.0